$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...


header {
  font-family: 'Amatic SC', cursive;
  color: white;
 }

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://www.rockpoolpublishing.com.au/site/user-assets/images/dreams.jpg);
 }



button {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a4d2e3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #a4d2e3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #a4d2e3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #a4d2e3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #a4d2e3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #a4d2e3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4d2e3', endColorstr='#408c99',GradientType=0);
	background-color:#a4d2e3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Amatic SC', cursive;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.debug {
  color: #797B74;
  text-align: center;
  border: 1px dashed #c5c5c5;
  margin: 25px 0 0 0;
  padding: 15px;
}
